## GDP of country with linear regression to train the model and the output of prediction is if money make people happier

In [116]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import sklearn.linear_model

## Inspect data as tabular

### Load Better life index data
- filter df only INEQUALITY features with value Total

In [117]:

lifesatisfy_df = pd.read_csv("dataset/lifesatisfy.csv")
lifesatisfy_df = lifesatisfy_df[lifesatisfy_df["INEQUALITY"]=="TOT"]
# lifesatisfy_df.head()
lifesatisfy_df

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.1,NaN,NaN
1,AUT,Austria,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.2,NaN,NaN
2,BEL,Belgium,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.8,NaN,NaN
3,CAN,Canada,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
4,CZE,Czechia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.9,NaN,NaN
5,DNK,Denmark,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
6,FIN,Finland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.9,NaN,NaN
7,FRA,France,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.7,NaN,NaN
8,DEU,Germany,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
9,GRC,Greece,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
10,HUN,Hungary,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.0,NaN,NaN
11,ISL,Iceland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.6,NaN,NaN
12,IRL,Ireland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
13,ITA,Italy,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
14,JPN,Japan,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
15,KOR,Korea,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
16,LUX,Luxembourg,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.4,NaN,NaN
17,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.0,NaN,NaN
18,NLD,Netherlands,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
19,NZL,New Zealand,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
20,NOR,Norway,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
21,POL,Poland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
22,PRT,Portugal,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
23,SVK,Slovak Republic,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
24,ESP,Spain,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
25,SWE,Sweden,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
26,CHE,Switzerland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
27,TUR,Türkiye,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,4.9,NaN,NaN
28,GBR,United Kingdom,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.8,NaN,NaN
29,USA,United States,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
30,BRA,Brazil,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
31,CHL,Chile,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.2,NaN,NaN
32,EST,Estonia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
33,ISR,Israel,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.2,NaN,NaN
34,LVA,Latvia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.2,NaN,NaN
35,RUS,Russia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.5,NaN,NaN
36,SVN,Slovenia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
37,ZAF,South Africa,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,4.9,NaN,NaN
38,OECD,OECD - Total,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.7,NaN,NaN
193,COL,Colombia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.7,NaN,NaN
194,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.4,NaN,NaN
203,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.3,NaN,NaN

- Create pivot table (Matrix) where index is Country, column is Indicator (life satisfaction) and value is Value

In [118]:
lifesatisfy_df = lifesatisfy_df.pivot_table(index="Country", columns="Indicator", values="Value")
lifesatisfy_df

Indicator        Life satisfaction
Country
Australia                      7.1
Austria                        7.2
Belgium                        6.8
Brazil                         6.1
Canada                         7.0
Chile                          6.2
Colombia                       5.7
Costa Rica                     6.3
Czechia                        6.9
Denmark                        7.5
Estonia                        6.5
Finland                        7.9
France                         6.7
Germany                        7.3
Greece                         5.8
Hungary                        6.0
Iceland                        7.6
Ireland                        7.0
Israel                         7.2
Italy                          6.5
Japan                          6.1
Korea                          5.8
Latvia                         6.2
Lithuania                      6.4
Luxembourg                     7.4
Mexico                         6.0
Netherlands                    7.5
New Zealand                    7.3
Norway                         7.3
OECD - Total                   6.7
Poland                         6.1
Portugal                       5.8
Russia                         5.5
Slovak Republic                6.5
Slovenia                       6.5
South Africa                   4.9
Spain                          6.5
Sweden                         7.3
Switzerland                    7.5
Türkiye                        4.9
United Kingdom                 6.8
United States                  7.0

### Convert and load gdp per capita

In [129]:
gdp_df = pd.read_csv("dataset/gdp_per_capita.csv",thousands=',',delimiter='\t',
                             encoding='latin1', na_values="n/a")
gdp_df

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",3995.383,2010.0
2,Algeria,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4318.135,2014.0
3,Angola,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4100.315,2014.0
4,Antigua and Barbuda,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",14414.302,2011.0
...,...,...,...,...,...,...,...
185,Vietnam,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",2088.344,2012.0
186,Yemen,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",1302.940,2008.0
187,Zambia,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",1350.151,2010.0
188,Zimbabwe,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",1064.350,2012.0
189,"International Monetary Fund, World Economic Ou...",NaN,NaN,NaN,NaN,NaN,NaN

## Merge 2 table: life satisfaction and GDP per capita

In [75]:
full_country_matrix = pd.merge(left=lifesatisfy_df, right=gdp_df,
                                  left_index=True, right_index=True)
full_country_matrix.sort_values(by="GDP per capita", inplace=True)
full_country_matrix

,Life satisfaction,WEO Country Code,ISO,WEO Subject Code,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2020,GDP per capita,2022,2023,2024,2025,2026,2027,2028,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Mexico,6.0,273,MEX,GGXONLB_NGDP,General government primary net lending/borrowing,Primary net lending/borrowing is net lending (...,Percent of GDP,NaN,See notes for: General government primary net...,NaN,...,-0.5,-0.013,0.727,1.598,-0.682,1.805,1.602,1.493,1.404,2022.0
Korea,5.8,542,KOR,GGXCNL_NGDP,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,NaN,See notes for: General government net lending...,NaN,...,-2.233,-0.02,-1.604,-1.234,-0.888,-0.27,-0.17,-0.002,-0.006,2022.0
Sweden,7.3,144,SWE,GGXCNL_NGDP,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,NaN,See notes for: General government net lending...,-5.317,...,-2.771,-0.063,0.736,-0.411,-0.632,0.175,0.415,0.442,0.404,2021.0
Switzerland,7.5,146,CHE,GGXONLB_NGDP,General government primary net lending/borrowing,Primary net lending/borrowing is net lending (...,Percent of GDP,NaN,See notes for: General government primary net...,NaN,...,-2.949,-0.152,1.075,0.235,0.505,0.405,0.278,0.268,0.255,2022.0
Switzerland,7.5,146,CHE,GGSB_NPGDP,General government structural balance,The structural budget balance refers to the ge...,Percent of potential GDP,NaN,See notes for: General government structural ...,NaN,...,-2.348,-0.152,0.776,0.099,0.397,0.296,0.198,0.197,0.198,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
South Africa,4.9,199,ZAF,NGAP_NPGDP,Output gap in percent of potential GDP,Output gaps for advanced economies are calcula...,Percent of potential GDP,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,4.9,199,ZAF,LE,Employment,Employment can be defined by either the nation...,Persons,Millions,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,7.5,146,CHE,NGAP_NPGDP,Output gap in percent of potential GDP,Output gaps for advanced economies are calcula...,Percent of potential GDP,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Türkiye,4.9,186,TUR,NGAP_NPGDP,Output gap in percent of potential GDP,Output gaps for advanced economies are calcula...,Percent of potential GDP,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Türkiye,4.9,186,TUR,LE,Employment,Employment can be defined by either the nation...,Persons,Millions,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Processing: Drop The features that doesn't need for the output
- axis=1 for dropping columns and axis=0 for dropping rows

In [79]:

remove_features = [0,1,6,8,33,34,35]
keep_fetures = list(set(range(36)) - set(remove_features))
full_country_matrix.drop(remove_features, axis=1, inplace=True)
full_country_matrix

KeyError: '[0, 1, 6, 8, 33, 34, 35] not found in axis'